body,
html,
#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Major Mono Display', monospace;
  color: blueviolet;
  text-underline-offset: .25em;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 4em;
}

.App {
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em;
}

.card {
  size: 25%;
  text-align: center;
}
